<%- include('../partials/header') %>

<main class="container">
  <div class="form-container">
    <h1 class="form-title">Add New Song</h1>
    
    <form action="/songs" method="POST" class="song-form">
      <div class="form-group">
        <label for="title" class="form-label">Song Title*</label>
        <input type="text" id="title" name="title" class="form-input" required>
      </div>
      
      <div class="form-group">
        <label for="artist" class="form-label">Artist*</label>
        <input type="text" id="artist" name="artist" class="form-input" required>
      </div>
      
      <div class="form-group">
        <label for="duration" class="form-label">Duration (mm:ss)</label>
        <input type="text" id="duration" name="duration" class="form-input">
      </div>
      
      <div class="form-group">
        <label for="genre" class="form-label">Genre</label>
        <input type="text" id="genre" name="genre" class="form-input">
      </div>
      
      <div class="form-group">
        <label for="spotifyLink" class="form-label">Spotify Link</label>
        <input type="url" id="spotifyLink" name="spotifyLink" class="form-input">
      </div>
      
      <% if (playlists && playlists.length > 0) { %>
        <div class="form-group">
          <label class="form-label">Add to Playlists</label>
          <div class="checkbox-group">
            <% playlists.forEach(playlist => { %>
              <label class="checkbox-option">
                <input type="checkbox" name="playlists" value="<%= playlist._id %>">
                <span class="checkbox-label"><%= playlist.title %></span>
              </label>
            <% }) %>
          </div>
        </div>
      <% } %>
      
      <div class="form-actions">
        <a href="/" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Add Song</button>
      </div>
    </form>
  </div>
</main>

<%- include('../partials/footer') %>